/* Paleta de colores: Blancos y Grises */
:root {
    --blanco-puro: #ffffff;
    --blanco-hueso: #f8f9fa;
    --gris-claro: #e9ecef;
    --gris-medio: #adb5bd;
    --gris-oscuro: #495057;
    --sombra: rgba(0, 0, 0, 0.08);
}

.container {
    padding: 40px;
    background-color: var(--blanco-hueso);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Agregar-info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    position: fixed;
    bottom: 1%;
    width: 562px;
    height: 200px;
    
}


/* Botón de eliminar con estilo minimalista */
.btn-primario, .btn-secundario, .deleteactive  {
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-medio);
    color: var(--gris-oscuro);
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primario:hover, .btn-secundario:hover, .deleteactive:hover {
    background-color: #ffeded;
    /* Un tono rojizo muy suave al borrar */
    color: #d9534f;
    border-color: #d9534f;
}